
<tr>
  <td></td>
  <td><%= post.content %></td>
  <td><%= post.created_at %></td>
  <td><%= link_to("Edit", edit_group_post_path(post.group, post), class: "btn btn-xs btn-default")%></td>
  <td><%= link_to("Delete", group_post_path(post.group, post), class: "btn btn-xs btn-default", method: :delete, data: {confirm: "Are you sure?"})%></td>
</tr>
